name: foodapp
description: A simple food devliver app

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  splashscreen:
  sqflite:
  font_awesome_flutter:
  url_launcher:
  carousel_slider: ^3.0.0
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter



# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icon/diamond.png
    - assets/images/a.jpg
    - assets/images/b.jpg
    - assets/images/c.jpeg
    - assets/images/d.jpg
    - assets/images/e.jpeg
    - assets/images/f.jpeg
    - assets/images/foods/a.jpeg
    - assets/images/foods/b.jpeg
    - assets/images/foods/c.jpg
    - assets/images/foods/d.jpeg
    - assets/images/foods/p.jpeg

    - assets/images/categories/camera.png
    - assets/images/categories/church.png
    - assets/images/categories/football.png
    - assets/images/categories/groceries.png
    - assets/images/categories/mosque.png
    - assets/images/categories/puzzle.png
    - assets/images/categories/radio.png
    - assets/images/categories/travel.png


  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
